<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
<h1 th:text="${title}">Default Title</h1>


<form method = "post" th:object="${form}" action = "/rating/rate" style="max-width:600px;">
    <div class="form-group">
        <label th:for="ratingId">Rating:</label>

        <select name = "ratingId">
            <option th:each="rating : *{ratings}" th:text="${rating.rate}"
                th:value="${rating.id}">
            </option>
        </select>



        <span th:errors="*{ratingId}" class="error"></span>
    </div>
        <input type="hidden" name="bookId" th:value="*{book.id}" />
    <input type="submit" value="Submit Rating"/>

</form>
</div>
</body>
</html>

