<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <p th:unless = "${books} and ${books.size()}">No books yet!</p>
    <table class="table">
        <tr>

            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Average Rating</th>
            <th>Book Group Date</th>
        </tr>
        <tr th:each="book : ${books}">

            <td th:text="${book.title}"></td>
            <td th:text="${book.authorLastName}"></td>
            <td th:text="${book.genre.name}"></td>
            <td th:text="${book.averageRating}"></td>
            <td th:text="${book.meetingDate}"></td>
            <td><a th:href="@{'/rate/' + ${book.id}}">Rate this book</a></td>

        </tr>
    </table>


</div>
</body>
</html>