<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: page-header"></div>
<h1 th:text="${title}">Default Title</h1>



<h2>Activity Details: <span th:text= "${name}"  ></span> (id = <span th:text="${id}">id</span>)</h2>


<table th:object = "${activity}">


    <tr>
        <th>Description</th>
        <th>Materials Needed</th>

    </tr>

    <tr>
        <td th:text="*{eDescription}"></td>
        <td th:text="*{eMaterials}"></td>
    </tr>

</table>

<!--put an image here -->

<!-- buttons for We did it, save to my list  -->



<div class="btn-group">
    <button><a href="#">We did it!</a></button>
    <button><a href="#">Save for later</a></button>

</div>

</body>
</html>