{% extends "base.html" %}

{% block content %}

    <h1>TODOs</h1>
    <form method = 'post'>
        <label>
            New Task:
            <input type='text' name = 'task' />
        </label>
        <input type = "submit" value = 'Add Task' />
    </form>

    <hr />

    {% if tasks|length == 0 %} 
    <!-- this is for checking if the task list has any tasks -->
    <p>No tasks yet</p>
    {% else %}
        <ul>
            {% for task in tasks %}  <!-- this is jinja language for a for loop -->
            <li>{{task}}</li>
            {% endfor %}            <!-- you always have to close loops -->

        </ul>
    {% endif %}
    <!-- this concludes the conditional for jinja, have to tell it -->

    {% endblock %}


